nexus:
  image: cavemandaveman/nexus:latest
  container_name: "nexus"
  ports:
    - "9091:8081"
    - "9092:10001"
  environment:
    JAVA_MIN_MEM: "1200M"
    JAVA_MAX_MEM: "1200M"
  ulimits:
    nofile:
      soft: 65536
      hard: 65536
  volumes:
    - {{ nexus_home }}}/data:/nexus-data