server {

    listen 80;
    return 301 https://$host$request_uri;
}


server {

    proxy_send_timeout 120;
    proxy_read_timeout 300;
    proxy_buffering    off;
    keepalive_timeout  5 5;
    tcp_nodelay        on;

    listen              443;
    ssl on;

    server_name "jenkins.{{ base_domain }}";
    ssl_certificate "{{ nginx_home }}/{{ nginx_tls_crt }}";
    ssl_certificate_key "{{ nginx_home }}/{{ nginx_tls_key }}";


    location / {

       proxy_pass http://127.0.0.1:8080/;
    #    proxy_redirect      http://localhost:8080 $scheme://jenkins.{{ base_domain }};
       proxy_redirect off;

       proxy_set_header   Host             $host;
       proxy_set_header   X-Forwarded-Port 8443;
       proxy_set_header   X-Real-IP        $remote_addr;
       proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
       proxy_set_header   X-Forwarded-Proto "https";
       proxy_http_version 1.1;
       proxy_request_buffering off;
      }


}

server {

    proxy_send_timeout 120;
    proxy_read_timeout 300;
    proxy_buffering    off;
    keepalive_timeout  5 5;
    tcp_nodelay        on;

    listen              443;
    ssl on;

    server_name "nexus.{{ base_domain }}";
    ssl_certificate "{{ nginx_home }}/{{ nginx_tls_crt }}";
    ssl_certificate_key "{{ nginx_home }}/{{ nginx_tls_key }}";

    location / {

       proxy_pass http://127.0.0.1:9091/;
       proxy_set_header   Host             $host;
       proxy_set_header   X-Real-IP        $remote_addr;
       proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
       proxy_set_header X-Forwarded-Proto "https";
       proxy_http_version 1.1;
       proxy_request_buffering off;
      }


    location /v2/ {

       proxy_pass http://0.0.0.0:9092/v2/;
       proxy_set_header   Host             $host;
       proxy_set_header   X-Real-IP        $remote_addr;
       proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
       proxy_set_header X-Forwarded-Proto "https";
       proxy_http_version 1.1;
       proxy_request_buffering off;
       }


}

server {

    proxy_send_timeout 120;
    proxy_read_timeout 300;
    proxy_buffering    off;
    keepalive_timeout  5 5;
    tcp_nodelay        on;

    listen              443;
    ssl on;

    server_name "nexus-lo.{{ base_domain }}";

    ssl_certificate "{{ nginx_home }}/{{ nginx_tls_crt }}";
    ssl_certificate_key "{{ nginx_home }}/{{ nginx_tls_key }}";


    location / {

       proxy_pass http://127.0.0.1:9091/;
       proxy_set_header   Host             $host;
       proxy_set_header   X-Real-IP        $remote_addr;
       proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
       proxy_set_header X-Forwarded-Proto "https";
       proxy_http_version 1.1;
       proxy_request_buffering off;
      }


    location /v2/ {

       proxy_pass http://0.0.0.0:9092/v2/;
       proxy_set_header   Host             $host;
       proxy_set_header   X-Real-IP        $remote_addr;
       proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
       proxy_set_header   X-Forwarded-Proto "https";
       # Required for new HTTP-based CLI
       proxy_http_version 1.1;
       proxy_request_buffering off;
       }

}